{% extends 'base.html' %} {% block title %}Home{% endblock %}
{% block content %}
<div class="home-text">
  <h1>Become a Task Master</h1>
  <p>We'll guide you step by step on how to create a TODO, complete a TODO, and check-off a TODO.</p>
  <p>Never be a procrastinator again!</p>
  <br>
  <h1>Achieve Your Goals</h1>
  <p>We'll help you to aim high, but start low and don't forget to celebrate and keep going when times get hard.</p>
  <p>Be clearer on what success looks like by tracking your performance!</p>
</div>
<img id='undraw' src="../static/images/undraw_selection_re_ycpo.svg" alt="man with list">
{% endblock %}