{% extends 'base.html' %} {% block title %}Sign Up{% endblock %}
{% block content %}
<div class="sign-up-form">
  <img id='sign-up-img' src="../static/images/undraw_To_do_re_jaef(1).svg" alt="woman holding check symbol">
  <form method="POST">
    <h3>Sign Up</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class='form-control' id='email' name='email' placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class='form-control' id='username' name='username' placeholder="Enter username" />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input type="password" class='form-control' id='password1' name='password1' placeholder="Enter Password" />
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" class='form-control' id='password2' name='password2' placeholder="Re-enter Password" />
    </div>
    <br />
    <button type="submit" class="form-btn">Sign Up</button>
  </form>
</div>
{% endblock %}